# Part - 1: Generating h<sup>*</sup>(D) model

## Step - 1: Importing respective libraries and meta-dataset.csv

In [21]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('./meta-dataset.csv')
df

,Unnamed: 0,beta_0,beta_1,beta_2,beta_3,beta_4,beta_5,beta_6,beta_7,label
0,0,0.116358,0.134907,0.278246,0.470489,0.0,0.0,0.0,0.0,1
1,1,0.096939,0.210459,0.269133,0.423469,0.0,0.0,0.0,0.0,1
2,2,0.067696,0.157957,0.483373,0.290974,0.0,0.0,0.0,0.0,1
3,3,0.085299,0.132486,0.328494,0.453721,0.0,0.0,0.0,0.0,1
4,4,0.026059,0.262215,0.288274,0.423453,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...
221,221,0.000000,0.335975,0.664025,0.000000,0.0,0.0,0.0,0.0,1
222,222,0.000000,0.322368,0.677632,0.000000,0.0,0.0,0.0,0.0,1
223,223,0.062405,0.138508,0.512938,0.286149,0.0,0.0,0.0,0.0,1
224,224,0.001678,0.318792,0.677852,0.001678,0.0,0.0,0.0,0.0,1
225,225,0.000000,0.344648,0.655352,0.000000,0.0,0.0,0.0,0.0,1

In [15]:
features = df.iloc[:, 1:-1]
labels = df.iloc[:, [-1]]

In [16]:
features

       beta_0    beta_1    beta_2    beta_3  beta_4  beta_5  beta_6  beta_7
0    0.116358  0.134907  0.278246  0.470489     0.0     0.0     0.0     0.0
1    0.096939  0.210459  0.269133  0.423469     0.0     0.0     0.0     0.0
2    0.067696  0.157957  0.483373  0.290974     0.0     0.0     0.0     0.0
3    0.085299  0.132486  0.328494  0.453721     0.0     0.0     0.0     0.0
4    0.026059  0.262215  0.288274  0.423453     0.0     0.0     0.0     0.0
..        ...       ...       ...       ...     ...     ...     ...     ...
221  0.000000  0.335975  0.664025  0.000000     0.0     0.0     0.0     0.0
222  0.000000  0.322368  0.677632  0.000000     0.0     0.0     0.0     0.0
223  0.062405  0.138508  0.512938  0.286149     0.0     0.0     0.0     0.0
224  0.001678  0.318792  0.677852  0.001678     0.0     0.0     0.0     0.0
225  0.000000  0.344648  0.655352  0.000000     0.0     0.0     0.0     0.0

[226 rows x 8 columns]

In [17]:
labels

     label
0        1
1        1
2        1
3        1
4        1
..     ...
221      1
222      1
223      1
224      1
225      1

[226 rows x 1 columns]

## Step-2: Performing Datasplit

In [23]:
features_train, labels_train, features_test, labels_test = train_test_split(features, labels, test_size = 0.3)

print(f'features_train = \n{features_train}')
print(f'labels_train = \n{features_test}')
print(f'features_test = \n{labels_train}')
print(f'labels_test = \n{labels_test}')

features_train =
       beta_0    beta_1    beta_2    beta_3    beta_4    beta_5    beta_6  \
152  0.051948  0.152597  0.000000  0.000000  0.048701  0.746753  0.000000
194  0.010929  0.411202  0.348361  0.229508  0.000000  0.000000  0.000000
214  0.041190  0.102975  0.234554  0.621281  0.000000  0.000000  0.000000
39   0.000000  0.263551  0.613084  0.123364  0.000000  0.000000  0.000000
117  0.059282  0.180967  0.000000  0.000000  0.113885  0.645866  0.000000
..        ...       ...       ...       ...       ...       ...       ...
34   0.000000  0.244604  0.467626  0.287770  0.000000  0.000000  0.000000
145  0.022613  0.180905  0.000000  0.000000  0.027638  0.763819  0.005025
71   0.000000  0.457788  0.542212  0.000000  0.000000  0.000000  0.000000
155  0.043716  0.144809  0.000000  0.000000  0.019126  0.762295  0.030055
223  0.062405  0.138508  0.512938  0.286149  0.000000  0.000000  0.000000

     beta_7
152     0.0
194     0.0
214     0.0
39      0.0
117     0.0
..      ...
34      0.0
145     0.0
71      0.0
155     0.0
223     0.0

[158 rows x 8 columns]
labels_train =
     label
152      2
194      1
214      1
39       1
117      0
..     ...
34       1
145      1
71       0
155      1
223      1

[158 rows x 1 columns]
features_test =
       beta_0    beta_1    beta_2    beta_3    beta_4    beta_5    beta_6  \
37   0.001675  0.226131  0.527638  0.244556  0.000000  0.000000  0.000000
201  0.058824  0.004902  0.009804  0.926471  0.000000  0.000000  0.000000
136  0.017699  0.138643  0.502950  0.340708  0.000000  0.000000  0.000000
25   0.094637  0.113565  0.236593  0.034700  0.520505  0.000000  0.000000
164  0.000000  0.270793  0.729207  0.000000  0.000000  0.000000  0.000000
..        ...       ...       ...       ...       ...       ...       ...
33   0.051704  0.148061  0.103408  0.696827  0.000000  0.000000  0.000000
93   0.076070  0.000000  0.000000  0.000000  0.000000  0.000000  0.028526
156  0.032028  0.195730  0.256228  0.516014  0.000000  0.000000  0.000000
146  0.009281  0.226218  0.000000  0.000000  0.436195  0.328306  0.000000
112  0.000000  0.071942  0.928058  0.000000  0.000000  0.000000  0.000000

       beta_7
37   0.000000
201  0.000000
136  0.000000
25   0.000000
164  0.000000
..        ...
33   0.000000
93   0.895404
156  0.000000
146  0.000000
112  0.000000

[68 rows x 8 columns]
labels_test =
     label
37       0
201      2
136      1
25       2
164      1
..     ...
33       2
93       2
156      1
146      1
112      0

[68 rows x 1 columns]

## Step-3 performing traditional grid-search on the classifier models

In [31]:
decision_tree = DecisionTreeClassifier()
decision_tree_parameters = {'criterion':('gini', 'entropy'), 'splitter':('best', 'random'), 'max_depth': (2,4,6,8,10,12), 
                            'min_samples_split':(2,3,4,5,6,7,8,9), 'class_weight':None} # Need to verify if the class-weight parameter is important because there is no noise in the dataset

knn = KNeighborsClassifier(n_neighbors=3)
knn_neighbours_range = range(4,113)
knn_parameters = {'n_neighbors': knn_neighbours_range, 'weights':('uniform', 'distance'), 'p':2, # p=2 for euclidian
                    'metric':'minkowski'}

models = [decision_tree, knn]