# Calculating Beta Values and Generating Meta Features

In [2]:
import numpy as np
import pandas as pd

### Importing Meta-Dataset

In [12]:
dataset = pd.read_csv('./meta-dataset.csv')
dataset = dataset.iloc[:,1:]
dataset

,beta_0,beta_1,beta_2,beta_3,beta_4,beta_5,beta_6,beta_7,label
0,0.116358,0.134907,0.278246,0.470489,0.0,0.0,0.0,0.0,1
1,0.096939,0.210459,0.269133,0.423469,0.0,0.0,0.0,0.0,1
2,0.067696,0.157957,0.483373,0.290974,0.0,0.0,0.0,0.0,1
3,0.085299,0.132486,0.328494,0.453721,0.0,0.0,0.0,0.0,1
4,0.026059,0.262215,0.288274,0.423453,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...
221,0.000000,0.335975,0.664025,0.000000,0.0,0.0,0.0,0.0,1
222,0.000000,0.322368,0.677632,0.000000,0.0,0.0,0.0,0.0,1
223,0.062405,0.138508,0.512938,0.286149,0.0,0.0,0.0,0.0,1
224,0.001678,0.318792,0.677852,0.001678,0.0,0.0,0.0,0.0,1
225,0.000000,0.344648,0.655352,0.000000,0.0,0.0,0.0,0.0,1

#### Calculating the value of U<sub>y<sub>i</sub></sub> for all sample points present in the dataset

The expression for calculating U<sub>y<sub>i</sub></sub> is as given below:

<center><img src="./Images/formula_1.png"></center>

### Explaination of the above formula
* What the above formula is trying to convey is that of a given sample point <**x<sub>i</sub>**, y<sub>i</sub>>, we need to find the total number of sample points with the which  have the same the label value as y<sub>i</sub>. It is important to note that this total is not inclusive of the sample point <**x<sub>i</sub>**, y<sub>i</sub>>.

* To make things simpler, instead of constructing a function that takes in each sample point and calculates the U<sub>y<sub>i</sub></sub> seperately, we can just calculate the total of number of samples from each class and subtract one from the total for each respective class. Once this is done we can then plug in the values of ***U*** for each respective class label in the subsequent formulae that require us to iterate through each point.

#### Counting the number of values for each class

In [24]:
numValuesClass0 = dataset['label'].value_counts()[0]
numValuesClass1 = dataset['label'].value_counts()[1]
numValuesClass2 = dataset['label'].value_counts()[2]

print(f'The number of values in Class-0 = {numValuesClass0}')
print(f'The number of values in Class-1 = {numValuesClass1}')
print(f'The number of values in Class-2 = {numValuesClass2}')

The number of values in Class-0 = 20
The number of values in Class-1 = 148
The number of values in Class-2 = 58

#### Calculating the U<sub>y<sub>i</sub></sub> for each of the respective classes

In [26]:
uValueClass0 = numValuesClass0 - 1
uValueClass1 = numValuesClass1 - 1
uValueClass2 = numValuesClass2 - 1

print(f'The U value in Class-0 = {uValueClass0}')
print(f'The U value in Class-1 = {uValueClass1}')
print(f'The U value in Class-2 = {uValueClass2}')

The U value in Class-0 = 19
The U value in Class-1 = 147
The U value in Class-2 = 57